:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8ded9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

}

.innerBg {
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-color: #FFEFE8;
}
